<div class="text-center">
  <% if current_user.clerk? %>
    <%= link_to "Reservations", reservations_path, class: "btn btn-primary me-2" %>
  <% end %>
  <%= link_to "Books", books_path, class: "btn btn-secondary" %>
</div>
